<% layout("layouts/boilerplate") %>

<div class="alert alert-danger col-6 mx-auto mt-4 d-flex align-items-center">
  <i class="fa-solid fa-triangle-exclamation me-2"></i>
  <strong><%= message %></strong>
</div>

